@model JobEez_App.Models.BuildResume

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>BuildResume</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PersonalInfoId" />
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkedinUrl" class="control-label"></label>
                <input asp-for="LinkedinUrl" class="form-control" />
                <span asp-validation-for="LinkedinUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoUrl" class="control-label"></label>
                <input asp-for="PhotoUrl" class="form-control" />
                <span asp-validation-for="PhotoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CareerObjective" class="control-label"></label>
                <input asp-for="CareerObjective" class="form-control" />
                <span asp-validation-for="CareerObjective" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Degree" class="control-label"></label>
                <input asp-for="Degree" class="form-control" />
                <span asp-validation-for="Degree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Institution" class="control-label"></label>
                <input asp-for="Institution" class="form-control" />
                <span asp-validation-for="Institution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EdLocation" class="control-label"></label>
                <input asp-for="EdLocation" class="form-control" />
                <span asp-validation-for="EdLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GraduationYear" class="control-label"></label>
                <input asp-for="GraduationYear" class="form-control" />
                <span asp-validation-for="GraduationYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelevantCoursesAchievements" class="control-label"></label>
                <input asp-for="RelevantCoursesAchievements" class="form-control" />
                <span asp-validation-for="RelevantCoursesAchievements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <input asp-for="JobTitle" class="form-control" />
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company" class="control-label"></label>
                <input asp-for="Company" class="form-control" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkLocation" class="control-label"></label>
                <input asp-for="WorkLocation" class="form-control" />
                <span asp-validation-for="WorkLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkerStartDate" class="control-label"></label>
                <input asp-for="WorkerStartDate" class="form-control" />
                <span asp-validation-for="WorkerStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkerEndDate" class="control-label"></label>
                <input asp-for="WorkerEndDate" class="form-control" />
                <span asp-validation-for="WorkerEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Responsibilities" class="control-label"></label>
                <input asp-for="Responsibilities" class="form-control" />
                <span asp-validation-for="Responsibilities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkillName" class="control-label"></label>
                <input asp-for="SkillName" class="form-control" />
                <span asp-validation-for="SkillName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkillType" class="control-label"></label>
                <input asp-for="SkillType" class="form-control" />
                <span asp-validation-for="SkillType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <input asp-for="Language" class="form-control" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proficiency" class="control-label"></label>
                <input asp-for="Proficiency" class="form-control" />
                <span asp-validation-for="Proficiency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificationName" class="control-label"></label>
                <input asp-for="CertificationName" class="form-control" />
                <span asp-validation-for="CertificationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerRole" class="control-label"></label>
                <input asp-for="VolunteerRole" class="form-control" />
                <span asp-validation-for="VolunteerRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organization" class="control-label"></label>
                <input asp-for="Organization" class="form-control" />
                <span asp-validation-for="Organization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerStartDate" class="control-label"></label>
                <input asp-for="VolunteerStartDate" class="form-control" />
                <span asp-validation-for="VolunteerStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerEndDate" class="control-label"></label>
                <input asp-for="VolunteerEndDate" class="form-control" />
                <span asp-validation-for="VolunteerEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerResponsibilities" class="control-label"></label>
                <input asp-for="VolunteerResponsibilities" class="form-control" />
                <span asp-validation-for="VolunteerResponsibilities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
